swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################

info:
  title: Valitor API
  description: Valitor tengist alþjóðlegum greiðslumiðlunarkerfum VISA og MasterCard og tengir þannig saman söluaðila, korthafa og banka um allan heim. Valitor kappkostar að veita söluaðilum, bönkum, sparisjóðum og korthöfum á ferð um heiminn örugga, skjóta og þægilega þjónustu. Valitor er stöðugt að leita nýrra leiða til að gera greiðslulausnir þægilegri, hraðvirkari, öruggari og síðast en ekki síst skemmtilegri.
  version: "1.0.0"

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################

host: api.uber.com
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
  

################################################################################
#                                  Paths                                       #
################################################################################
paths:

  ################################################################################
  #                            Register card                                     #
  ################################################################################
  "/RegisterCard/{cardNumber}/{validToDate}/{cvv}":
    post:
      summary: Virtual card generation.
      description: |
        Generates a virtual card number for the given credit card.
      parameters:
        - name: cardNumber
          in: path
          description: The actual card number
          required: true
          type: string
          minLength: 12
          maxLength: 19
        - name: validToDate
          in: path
          description: End date of card validation
          required: true
          type: string
          format: mm-YY
          minLength: 5
          maxLength: 5
        - name: cvv
          in: path
          description: The card's CVV number
          required: true
          type: string
          minLength: 3
          maxLength: 3
      responses:
        "200":
          description: The virtual card number
          schema:
            type: string
          examples:
            application/json:
              - "00ac86f8-3fd9-425f-bb98-13a378213489"
              - "099cf38a-88fe-442c-a99e-45e60b021084"
              - "4ce969b8-ebf0-40dd-96d7-30c3c29a6b83"
        "400":
          description: Invalid parameters
          schema:
            type: string
          examples:
            application/json:
              - "invalid_card"
              - "invalid_expiry"
              - "invalid_cvv"
              - "card_expired"
        "500":
          description: Server error
          examples:
            application/json:
              "initialization_failed"
          schema:
            type: string
  
  ################################################################################
  #                           Add funds to card                                  #
  ################################################################################          
  "/AddFundsToCard/{virtualCardNumber}/{amount}":
    post:
      summary: Add funds to a virtual card.
      description: Adds the given amount to the specified virtual card.
      parameters:
        - name: virtualCardNumber
          in: path
          description: The virtual card number
          required: true
          type: string
          minLength: 36
          maxLength: 36
        - name: amount
          in: path
          description: The amount to add
          required: true
          type: number
          format: double
          minLength: 1
      responses:
        "200":
          description: Funds added
          schema:
            type: string
          examples:
            application/json:
              "success"
        "400":
          description: Invalid parameters
          schema:
            type: string
          examples:
            application/json:
              - "invalid_number"
              - "invalid_amount"
              - "negative_amount"
        "404":
          description: Card not found
          examples:
            application/json:
              "missing"
          schema:
            type: string
        
  ################################################################################
  #                           Add funds to card                                  #
  ################################################################################          
  "/CreateCard/{referenceID}/{amount}":
    post:
      summary: Create a pre-paid virtual card.
      description: Creates a pre-paid virtual card with the specified amount. The card's amount cannot be increased. afterwards.
      parameters:
        - name: referenceID
          in: path
          description: GUID string that references this card
          required: true
          type: string
          minLength: 36
          maxLength: 36
        - name: amount
          in: path
          description: The amount of funds on the card
          required: true
          type: number
          format: double
          minLength: 1
      responses:
        "200":
          description: The virtual card number
          schema:
            type: string
          examples:
            application/json:
              - "c7c75222-ba19-4315-8981-a4089b025468"
              - "bf0204fe-66d8-4ee5-9656-eee5d7ea3f23"
              - "16e62f1a-e2dd-46ad-92e9-cf0211471122"
        "400":
          description: Invalid parameters
          schema:
            type: string
          examples:
            application/json:
              - "invalid_referenceID"
              - "invalid_amount"
              - "negative_amount"
        "500":
          description: Server error
          examples:
            application/json:
              "initialization_failed"
          schema:
            type: string

  ################################################################################
  #                               Make payment                                   #
  ################################################################################          
  "/MakePayment/{virtualCardNumber}/{paymentAmount}/{currencyCode}/{mid}":
    post:
      summary: Make a payment with a virtual card.
      description: Withdraws funds from a virtual card and registers the payment.
      parameters:
        - name: virtualCardNumber
          in: path
          description: The virtual card number
          required: true
          type: string
          minLength: 36
          maxLength: 36
        - name: paymentAmount
          in: path
          description: The amount to withdraw
          required: true
          type: number
          format: double
          minLength: 1
        - name: currencyCode
          in: path
          description: The currency code
          required: true
          type: string
          minLength: 1
        - name: mid
          in: path
          description: The merchant ID
          required: true
          type: string
          minLength: 1
      responses:
        "200":
          description: Payment successful
          schema:
            type: string
          examples:
            application/json:
              "success"
        "400":
          description: Invalid parameters
          schema:
            type: string
          examples:
            application/json:
              - "invalid_number"
              - "invalid_amount"
              - "negative_amount"
        "404":
          description: Card not found
          schema:
            type: string
          examples:
            application/json:
              "missing"
        "422":
          description: Card declined
          schema:
            type: string
          examples:
            application/json:
              "card_declined"
        "500":
          description: Server error
          examples:
            application/json:
              "withdrawal_failed"
          schema:
            type: string
            
  ################################################################################
  #                               Card Balance                                   #
  ################################################################################          
  "/CardBalance/{virtualCardNumber}":
    get:
      summary: Get virtual card balance.
      description: |
        Get the current amount of funds for a virtual card.
        
        Returns null if card is not found
      parameters:
        - name: virtualCardNumber
          in: path
          description: The virtual card number
          required: true
          type: string
          minLength: 36
          maxLength: 36
      responses:
        "200":
          description: Payment successful
          schema:
            type: number
          examples:
            application/json:
              "45632"
        "404":
          description: Card not found
          
  ################################################################################
  #                               Card Balance                                   #
  ################################################################################          
  "/CardPayments/{virtualCardNumber}":
    get:
      summary: Get the payment list for a virtual card.
      description: |
        Get a list of payments made by a virtual card
      parameters:
        - name: virtualCardNumber
          in: path
          description: The virtual card number
          required: true
          type: string
          minLength: 36
          maxLength: 36
      responses:
        "200":
          description: List of payments
          schema:
            type: string
          examples:
            application/json:
              - PaymentDateTime: "/Date(1464603570824+0000)/"
                PaymentSuccessIndicator: "success"
              - PaymentDateTime: "/Date(1464603827149+0000)/"
                PaymentSuccessIndicator: "card_declined"
              - PaymentDateTime: "/Date(1464603978421+0000)/"
                PaymentSuccessIndicator: "success"
        "404":
          description: Card not found
          
  ################################################################################
  #                               Card List                                      #
  ################################################################################          
  "/CardList/{referenceID}":
    get:
      summary: Get a cards by reference ID.
      description: |
        Get a list of all pre-paid virtual cards that are linked to the specified reference ID
      parameters:
        - name: referenceID
          in: path
          description: GUID string
          required: true
          type: string
          minLength: 36
          maxLength: 36
      responses:
        "200":
          description: List of virtual card numbers
          schema:
            type: string
          examples:
            application/json:
              - "7e06b642-13bf-455e-b24a-6e640292faa4"
              - "000838d6-7bc2-4756-bc4e-9cfed2c9ef98"
              - "fa828456-bbef-4ae2-afc8-4896aee81dad"
        "400":
          description: Invalid reference ID
        "404":
          description: Reference ID not found